html, body {
	height: 100%;
	color: #333333;
}

*, *:before, *:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/*.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	flex: 1 0 auto;
}
.shrfooter {
	flex: 0 0 auto;
}
.mainlink {
	color: white;
}

.mainlink:hover {
	color: white;
}

.mainlink:visited {
	color: white;
}

.site-footer
{
	background-color:#000000;
	padding:45px 0 20px;
	font-size:15px;
	line-height:24px;
	color:#737373;
}
.site-footer hr
{
	border-top-color:#bbb;
	opacity:0.5
}
.site-footer hr.small
{
	margin:20px 0
}
.site-footer h6
{
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	margin-top:5px;
	letter-spacing:2px
}
.navbar
{
	background-color:#000000;
}
.navbar-custom { 
	background-color:#000000; 
} */


.navbar {
	background: #f8f7f5;
	z-index: 100;
	width: 100%;
}

.nav-item {
	color: #5d5d5d;
}

.nav-item:hover {
	color: #434343;
}

.intro {
	position: relative;
	height: 100vh; /* 100% экрана пользователя */

	background: linear-gradient(to right, #ffdf80 40%, transparent 40%), url("../img/preview.jpg")  center no-repeat;
	background-size: cover;
	background-position: center 50px;
	max-height: 650px;
}

h1 {
	text-transform: uppercase;
	font-size: 48px;

	padding-top: 130px;
	font-family: Verdana;
	font-weight: bold;
}

h3 {
	font-family: Verdana;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 32px;
}

.intro p {
	padding-top: 20px;
	width: 70%;
	color: #5d5d5d;
	font-size: 16px;
}

.catalog_images img {
	/*object-fit: cover;*/
	width: 100%;
	/*height: 400px;*/
}

.catalog_image {
	position: relative;
	display: block;
}

.catalog_gradient {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(51, 51, 51, 0.7) 0%, rgba(51, 51, 51, 0.5) 15%, rgba(51, 51, 51, 0.2) 30%, transparent 50%);
	opacity: 0;
	transition: all .2s linear;
	cursor: pointer;

	color: #ffffff;
}

.catalog_gradient_content {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 30px;

	font-size: 20px;
	font-weight: bold;
}

.catalog_gradient_content i {
	font-size: 40px;
	margin-bottom: 10px;
}

.catalog_gradient:hover {
	opacity: 1;
}

#hoody {
	object-position: 0%;
}

#case {
	object-fit: contain;
	padding: 40px;
	background: #efefef;
}

.catalog {
	padding-top: 100px;
	padding-bottom: 90px;
}

.catalog_top {
	display: flex;
	justify-content: space-between;
}

.catalog_images {
	margin-top: 80px;
}

.show_more {
	padding-right: 20px;
	font-size: 16px;
	position: relative;

	color: #333333;
	transition: all .1s linear;

}

.show_more:hover {
	color: #000000;
	text-decoration: none;
}

.show_more:after {
	content: "";
	display: block;
	border-top: 1px #333333 solid;
	border-right: 1px #333333 solid;
	width: 10px;
	height: 10px;


	position: absolute;
	transform: rotate(45deg);

	right: 0;
	top: 9px;
}

.catalog_images_names {
	margin-top: 30px;
}

.catalog_images_names .col-4 {
	text-align: center;
	font-size: 20px;
}

/* CONTACTS */

.contacts {
	padding-top: 60px;
	padding-bottom: 30px;

	background: #ffdf80;
}

.contacts h3 {
	padding-bottom: 50px;
}

.contacts p {
	width: 100%;
}

.contacts .row:nth-child(3) {
		padding-top: 40px;
}

.contacts h6 {
	font-size: 20px;
	font-family: Verdana;
	font-weight: bold;
}

.social_network {
	display: flex;
	align-items: center;

	margin-top: 20px;
}

.social_network a {
	display: flex;
	align-items: center;

	text-decoration: none;
}

.social_network i {
	color: #333333;
	font-size: 40px;

	padding-right: 20px;
	transition: all .1s linear;

}

.social_network i:hover {
	color: #000000;
}

.fa-vk {
	color: #ffdf80!important;
	background: #333333;
	border-radius: 3px;
	font-size: 30px!important;
	height: 36px;
	width: 40px;

	position: relative;
}

.fa-vk:hover {
	background: #000000;
}

.fa-vk:before {
	right: 3px;
	top: 3px;
	position: absolute;
}

hr {
	margin-top: 30px;
}

.copyright {
	margin-top: 20px;
	text-align: center;

	color: #5d5d5d;
}



/*CATALOG********************************************************************
*****************************************************************************/

.filter_inner {
	border: 2px #d7d7d7 solid;
	padding: 8px;
}

.filter_section h6 {
	text-align: center;
	font-size: 18px;
}

.filter_section-inner label {
	display: inline-block;
	margin-bottom: 10px;

}

.filter_section-inner input {
	display: none;
}

.filter_section ul {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

.catalog_container {
	margin-top: 70px;
	margin-bottom: 70px;
}

.filter_section-inner li a {
	color: #333333;
}

.filter_section-inner li a:hover {
	text-decoration: none;
}

.filter_section-inner input:checked + span {
	color: #efc64c;
	transition: all .1s linear;
}

.filter_section-inner span:hover {
	color: #efc64c;
	transition: all .1s linear;
}

.size {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.size li {
	display: flex;
	justify-content: center;
	width: 30%;
}

@media (max-width: 991px) {
	.size li {
		width: 50%;
	}
}

.size li span {
	color: #333333;
	background: #ffdf80;
	display: inline-block;
	width: 50px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
}

.size input:checked + span {
	color: #ffffff;
	background: #efc64c;
	transition: all .1s linear;
}

.size span:hover {
	color: #ffffff;
	background: #efc64c;
	transition: all .1s linear;
}

/*PRICE*/

@media (max-width: 1199px) {
	.price {
		padding: 3px!important;
	}

	.custom_price {
		padding: 0!important;
	}
}

.custom_price {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.custom_price .label {
	text-align: center;
}

.custom_price input {
	padding: 8px;
	height: 35px;
	width: 100%;
	border-radius: 10px;
	border: 2px #d7d7d7 solid;
	outline: none;
}


.filter_submit_inner {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.filter_submit {
	background: #ffdf80;
	border: none;
	border-radius: 10px;
	width: 80%;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	transition: all .1s linear;

	outline: none;
}

.filter_submit:hover {
	background: #efc64c;
	color: #ffffff;

}

.filter_hr {
	height: 2px;
	background: #d7d7d7;
	border: none;
}

.goods_name {
	text-transform: uppercase;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	padding-bottom: 50px;
}

/*GOODS****************************************************************
***********************************************************************/

.good_inner img {
	width: 100%;
}

.good_inner {
	padding-bottom: 20px;
}

.good_price {
	font-weight: bold;
}

.good_image {
	position: relative;
	display: block;

	margin-bottom: 10px;
}

.good_gradient {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(51, 51, 51, 0.7) 0%, rgba(51, 51, 51, 0.5) 15%, rgba(51, 51, 51, 0.2) 30%, transparent 50%);
	opacity: 0;
	transition: all .2s linear;
	cursor: pointer;

	color: #ffffff;
}

.good_gradient:hover {
	opacity: 1;
}

.good_gradient_content {
	position: absolute;
	bottom: 5%;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	width: 100%;
}

.good_icon {
	width: 40px;
	height: 40px;

	display: inline-block;
}

.good_icon:not(:first-child) {
	margin-left: 10px;
}

.good_icon img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	border-radius: 10px;
	border: 3px transparent solid;

	transition: all .1s linear;
}

.good_icon input {
	display: none;
}

.good_icon input:checked + img {
	border: 3px #ffdf80 solid;
}